extends layout

block content
  link(rel='stylesheet', href='/stylesheets/mainpage.css', media='screen', title='no title', charset='utf-8')
  link(href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet")
  body
  header puzzletastic
  a(href='#') logout
  .gameDetails
    .gameImages
      .julieGame
        p cat game
      .sarahGame
        p obsolete robots
      .annaGame
        p cube collector
    .gameDescriptions
      .julieDesc
        p a game where you control a cat, walking, running, and jumping to collect all the gems in the backyard to win the game!
      .sarahDesc
        p a game where you play as robot in charge of getting rid of obsolete and decommissioned robots, directing them into the correct destroy shoot without accidentally getting destroyed yourself!
      .annaDesc
        p a game where you play as a sphere, navigating a 3D environment, collecting cubes so you can move on to the next level!
  table
    thead
      th player
      th total score
      th high score
    each user in info
      tr
        td #{user.username}
        td #{user.total_score}
        td #{user.high_score}
