body{
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #303030;
}
header{
  height: 18vh;
  width: 100%;
  background-color: #2AFFC2;
  opacity: .5;
  color: white;
  font-weight: 300;
  font-size: 4.5em;
  text-align: center;
  line-height: 2.5em;
  letter-spacing: 0.4em;
}
header a{
  text-decoration: none;
  color: white;
  font-weight: 200;
}
.box{
  background-color: white;
  border: 2px grey solid;
  height:55%;
  width: 50%;
  align-items: center;
  text-align: center;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
.box p{
  margin-top: 5%;
  font-size: 1.5em;
  font-weight: 300;
}
.box p:nth-child(odd){
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.box p:nth-child(even){
  font-size: 1.25em;
  font-weight: 300;
}
form{
  margin-top: -2%;
}
input{
  /*margin-top: 2%;*/
  margin-bottom: 5%;
}
