body{
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}
header{
  height: 18vh;
  width: 100%;
  background-color: #2AFFC2;
  opacity: .5;
  color: white;
  font-weight: 300;
  font-size: 4.5em;
  text-align: center;
  line-height: 2.5em;
  letter-spacing: 0.4em;
}
a{
  float: right;
  margin-right: 2%;
  color: #303030;
}
.gameDetails{
  margin-top: 8%;
  display: flex;
  align-content: center;
  flex-direction: column;
}
.gameImages{
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: space-around;
}
.gameImages div{
  width: 32%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.25em;
  text-align: center;
}
.gameImages div a{
  background: gainsboro;
  opacity: 0.5;
  margin-top: 39%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-decoration: none;
}
.julieGame{
  background-image: url('/images/cat-game.png');
}
.sarahGame{
  background-image: url('/images/decommissioned.png');
}
.annaGame{
  background-image: url('/images/cube-collector.png');
}
.gameDescriptions{
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  margin-top: 1%;
  color: #303030;
}
.gameDescriptions div{
  width: 32%;
  padding-left: 2%;
  padding-right: 2%;
}
.gameDescriptions div p{
  display: flex;
  flex-wrap: wrap;
  font-size: 1.05em;
}
table{
  border: 2px solid grey;
  background: white;
  color: #303030;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  margin-top: 2%;
}
th{
  font-size: 1.5em;
  border-bottom: 2px solid grey;
  border-spacing: 0;
  border-collapse: collapse;
}
td{
  font-size: 1.25em;
  text-align: center;
}
